header {
	height: 60px;
}

body {
font-family: Arial, Helvetica, sans-serif;
color: #90939a;
}

p {
	font-size: .9em;
}

main {
	margin-left: 200px;
	margin-right: 200px;
	line-height: 1.25em;
}

#intro-pic {

	width: 320px;
	height: 500px;
	margin: 0px 15px;
	float:left;
	padding-right: 20px;
	border-right: thin dotted #90939a;

}



