#app {
	background: gray;
	background-image: url("../images/black-iphone-6.jpg");
	background-repeat: no-repeat;
	width: 409px;
	height: 831px;
	margin: 0 auto;
}

img {
	position: relative;
    top: 220px;
    left: 35%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }